/A.class
/BuilinFunctionJava$1.class
/BuilinFunctionJava.class
/DefaultMethod.class
/FunctionalDemo.class
/Interface_One.class
/Interface_Two.class
/MultipleDefaultMethodInheritance.class
/Point.class
/TestExample.class
/TestFunctinal.class
/TestFunctinal2.class
/TestFunctinalImplement.class
