/ClassRoom.class
/CollectersCustom.class
/CreateStreams.class
/FlatMapSample.class
/InnerClass.class
/NestedClass.class
/OuterClass.class
/ParallelStreamSample.class
/Persons.class
/Personz.class
/ReduceSample.class
/SteamImatermediateOperations.class
/StreamApiCollectors.class
/Streamapisample.class
/Student.class
