<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment">
</head>
<body>
	<h1>Privacy Policy</h1>
	<p>Last updated: December 11, 2020 Quora recognizes that your
		privacy is very important, and we take it seriously. This Privacy
		Policy (“Privacy Policy”) describes our policies and procedures on the
		collection, use, disclosure, and sharing of your personal information
		when you use the Quora Platform. This Privacy Policy applies to
		activities by Quora, Inc. and its affiliates and subsidiaries
		(collectively “Quora,” “we” or “us”). Capitalized terms that are not
		defined in this Privacy Policy have the meaning given to them in our
		Terms of Service. Notice for California Residents If you are a
		California resident, please see the section below titled Additional
		Information for California Residents. The Information We Collect</p>
</body>
</html>