<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment">
</head>
<body>
	<h1>Terms of Service</h1>
	<pre>
	
	An Introduction to Quora’s Terms of Service

Welcome to Quora! Here is a quick summary of the highlights of our Terms of Service:

Our mission is to share and grow the world’s knowledge. The Quora platform offers a place to ask questions and connect with people who contribute unique insights and quality answers. This empowers people to learn from each other and to better understand the world.
You own the content that you post; you also grant us and other users of the Quora platform certain rights and license to use it. The details of these licenses are described in section 3(c) below.
You are responsible for the content that you post. This includes ensuring that you have the rights needed for you to post that content and that your content does not violate the legal rights of another party or any applicable laws.
You can repost content from Quora elsewhere, provided that you attribute the content back to the Quora platform and respect the rights of the original poster, including any “not for reproduction” designation, and do not use automated tools.
We do not endorse or verify content posted by users. Our content and materials are provided to you “as is,” without any guarantees. You are solely responsible for your own use of the Quora platform. Posts from lawyers, doctors, and other professionals should not be treated as a substitute for professional advice for your specific situation.
You agree to follow the rules of our platform. When you use the Quora platform, you also agree to our Terms of Service, accept our Privacy Policy, and agree to follow our Acceptable Use Policy, Copyright Policy, and Trademark Policy.
We offer tools for you to give feedback and report complaints. If you think someone has violated your intellectual property rights, other laws, or Quora's policies, you can initiate a report at the contact us portal or by using our in-product reporting tool.
We are pleased that you want to join the Quora platform and encourage you to read the full Terms of Service.
	
	</pre>
</body>
</html>